/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

html, body {
    font-family: sans-serif;
    height: 100%;
}

a {
    color: black;
}

.hidden {
    display: none !important;
}

/* Foo

    <div class="flex-container">
        <p>Foo</p>
        <p>Bar</p>
    </div>
*/
.flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

/* Bar

    <div class="flex-container">
        <p class="column-separator">Foo</p>
        <p class="column-separator">Bar</p>
    </div>
*/
.column-separator {
    min-width: 200px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.column-separator:last-child .scrollable,
.column-separator:last-child .column-header {
    border-right: none;
}
.item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.dont-shrink {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}
.column-header {
    background-color: #ddd;
    border-right: 1px solid white;
}
.title {
    text-transform: uppercase;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.scrollable {
    overflow: auto;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    border-right: 1px solid #ddd;
}

.bug {
    height: 100px;
}

.blocked {
    transition: background-color 1s ease;
    background-color: hsl(0, 50%, 75%);
}
